body {
    margin-top: 0%;
    background-image: url(http://2.bp.blogspot.com/-HAZhv8247BM/ViwvfoeQhBI/AAAAAAAAdKE/TiOiCcpD3Kc/s1600/3PDVD_006.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #353242;
    font-family: 'Edu SA Beginner', cursive;
}

h2 {
    font-size: 40px;
    color: #f75c0e;
    text-shadow: 1px 1px black;
}

p {
    font-size: 25px;
    color: black;
    font-weight: 900;
    text-shadow: 0px 0px .1px black;
}

li {
    font-size: 23px;
    text-shadow: 0px 0px .1px black;
}

/* Board CSS */
#play-box {
    margin-left: 40%;
    margin-top: 25px;
    margin-bottom: 25px;
    opacity: 0.6;
}

td {
    text-align: center;
    font-weight: bold;
    min-height: 65px;
    max-height: 65px;
    height: 65px;
    width: 65px;
    font-size: 30px;
}

.Yellow {
    background-color: #828998;
}

.Red {
    background-color: #3a496a;
}
.Green {
    background-color: #383e56;
}

.Blue {
    background-color: #535b6e;
}

.Trap {
    background-color: #813638;
    color: #ffff00;
    text-shadow: 2px 2px #ff0000;
}

.Clue {
    background-color: #ff8d00;
    color: #ffff00;
    text-shadow: 2px 2px #ff0000;
}



/* Modal CSS */
    
.modal {
    /* display: none; */
    background-color: lightseagreen;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left:0;
    right: 0;
    z-index: 1;
    overflow: auto;
	height: 450px;
	width:50vw;
    max-width: 400px;
	border-radius: 4px;
	margin: 0 auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .9);
	/*This will give the box some depth.*/
	padding: 40px;
    padding-top: 0%;
	line-height: 220%;
    border: solid black;
}

#instructions {
    display: none;
}

#game-over {
    display: none;
}

.modal-button {
    padding: 14px 18px;
    background-color: #c5de41;
    border: solid black;
    border-radius: 5px;
    color: black;
    text-shadow: 1px 1px .1px black;
    cursor: pointer;
    font-family: 'Edu SA Beginner', cursive;
    font-size: 25px;
}

/* Dice Roll CSS */
    
#dice-roll {
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
}
    
#dice-roll-btn {
    margin: 25px auto;
    position: relative;
}
    
#side {
    margin-left: 10%;
    margin-bottom: 25px;
    position: fixed;
    top: 1vmin;
    left: 1vmin;
    width: 35vmin;
    border: 0.2vmin solid black;
    background-color: lightseagreen;
    text-align: center;
    border-radius: 4px;
    padding: 3px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .9);
    opacity: 0.6;
}
    
#cube_outer {
    height: 8vmin;
    width: 8vmin;
    perspective: 30vmin;
    margin: auto;
}
    
#cube_inner {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transform: all .75s linear;
}
    
#cube_inner div {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: white;
    border: solid black;
}
    
#front{
    transform: translateZ(4vmin);
}
    
#back {
    transform: rotateY(180deg) translateZ(4vmin)
}
    
#left {
    transform: rotateY(-90deg) translateX(-4vmin);
    transform-origin: left;
}
    
#right {
    transform: rotateY(90deg) translateX(4vmin);
    transform-origin: right;
}
    
#top {
    transform: rotateX(-90deg) translateY(-4vmin);
    transform-origin: top;
}
    
#bottom {
    transform: rotateX(90deg) translateY(4vmin);
    transform-origin: bottom;
}

.trap-line {
    height: 50px;
    width: 200px;
    border-bottom: 10px solid white;
    /* border-right: 2px solid white; */
    /* -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg); */
    z-index: 1;
  }